
body{
    background-color: #C0C0C0;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(../img/estrelado-2.jpeg);
}

header{
    background-color: #4682B4;
    padding: 3%;
}

nav{
    background-color: #87CEEB;

}


main{
    background-color: hsl(9, 84%, 46%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: #000000	;
}

footer{
    background-color: #4682B4;
    padding: 3%;
}



/* LINKS :) */


a:link {
    color: #8B0000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #8B0000;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}


a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}



/* TEXTOS */


p{
    line-height: 1.5;
    font-size: 1.2em;
    color: aliceblue;
}

ul li{
    line-height: 1.5;
    font-size: 1.2em;
    color: aliceblue;
}


/* H1, H2, H3*/


h1{ /* TÍTULO DO SITE */
    font-size: 2em;
}

h2{ /* SUB TÍTULOS */
    font-size: 1.5em;
}

h3{ /* SUB TÍTULOS 2 */
    font-size: 1.4em;
}


/* TABELA */


table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    color:#C0C0C0 ;
}

th,td{
    border: 5px dashed #8B0000;
    padding: 1.5%;	
    color: aliceblue;
}

tr:nth-child(even){
    background-color:  #000000	;
    ;
}


/* IMAGENS */


img{
    width: 50%;
    display: block;
    
}


/* CLASSES */


.logo{
    background-color:hsl(0, 0%, 72%) ;
}

.cabecalho{
    padding: 3%;
}

.rodape{
    padding: 3%;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
    color: #FFFF00	;
}

.sub_titulos{
    color:  #FFFF00;
    text-align: center;
}


.logomarvel{
    width: 15%;
}


.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}


.col-3{
    width: 25%;
}


.col-3 p{
    font-size: 1rem;
    text-align: center;
}


.imggaleria{
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
}

.container {  
    display: grid;  
    grid-template-columns: 100px 100px 100px;  
    grid-template-rows: 50px 50px;  
}

.espaco{
    margin-bottom: 2%;
}




